@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .news-section {
    @apply bg-gray-900 text-white;
  }

  .latest-news {
    @apply bg-gray-950 text-white;
  }
}

@layer base {
  body {
    @apply bg-gray-950;
  }
}